body {
  font-family: arial, sans-serif;
  color: #4f5356;
}
.search-box {
  background-color: #f9f7fe;
  border: 1px solid #666769;
}

.submit-button {
  background-color: rgba(136, 93, 241, 0.7);
  border: 1px solid #666769;
  font-weight: 700;
}
.current {
  background-color: #7551d2;
  border: 1px solid #666769;
  font-weight: 700;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  color: #7551d2;
  line-height: 28px;
  margin-bottom: 10px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  font-size: 16px;
  font-weight: 500;
  height: 19px;
  line-height: 1;
  list-style: none;
  margin-bottom: 2px;
  font-style: italic;
}

.dividing-line {
  margin-top: 40px;
}

.weather-app {
  border: 2px solid rgba(117, 81, 210, 0.7);
  padding: 35px 65px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(186, 190, 245) 0%,
    rgba(192, 192, 245, 0.1) 33.1%,
    rgba(218, 203, 246, 0.2) 90%
  );
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: #7551d2;
  font-size: 64px;
  font-weight: 600;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.search-form {
  margin-bottom: 20px;
}
.conditions:first-letter {
  text-transform: capitalize;
}
strong {
  color: #7551d2;
  font-size: 20px;
}
.weather-forecast {
  margin-top: 37px;
  text-align: center;
}
.weather-forecast-day {
  font-size: 18px;
  font-weight: 600;
  color: #4f5356;
}
.weather-forecast-temperatures {
  font-size: 14px;
  font-weight: 600;
  color: #7551d2;
}
.weather-forecast-min-temperature {
  opacity: 0.7;
}

.coder {
  text-align: center;
  font-size: 14px;
}
